<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For Your Stomach</title>
</head>
<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="app-bar">
        <div class="app-bar__menu">
          <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
<img src="../public/images/logo/FYP-Logo.png" alt="">        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
          <ul>
            <li><a href="#/">Home</a></li>
            <li><a href="#/wisata">Wisata</a></li>
            <li><a href="#/umkm">UMKM</a></li>
            <li><a href="#/budaya">Budaya</a></li>
          </ul>
        </nav>
      </header>
    <!-- <header>
        <div class="block_navbar_menu">
            <button href="#" id="menu" class="navbar__menu">☰</button>
            <img class="logo" src="/images/logo/fys-1-removebg-preview.png" alt="fys-1 logo" >
        </div>

        <nav id="drawer" class="nav">
            <img class="logo" src="/images/logo/fys-1-removebg-preview.png" alt="fys-1 logo" > 


            <ul class="nav__list">


                <li class="nav__item"><a href="#">Home</a></li>
                
                <li   class="nav__item"><a href="#">Favorite</a></li>
                <li  class="nav__item"><a target="_blank" rel="noreferrer" href="https://aryanda04.github.io/portfolio/">About Us</a></li>
            </ul>
        </nav>
        
        
       
        <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 5, .5), rgba(0, 0, 5, .5)), url('images/heros/hero-image_2.jpg');">
            
            <div class="hero__inner">
                <h1 class="hero__title">FYS, For Your Stomach</h1>
                <p class="hero__tagline">Find the Best Place to fill up your stomach</p>
            </div>
        </div>
    </header> -->
        <main>
        <section id="mainContent" class="content">
            <div class="latest">
                <h1 class="latest__label">Explore Restaurant</h1>
                <div class="posts" id="restaurant-card"></div>
            </div>
        </section>
    </main>
        <footer>
            <p class="footer-text">Copyright &#169 2022 - For Your Stomach</p>
        </footer>
   
        
    </body>
</html>
