
#explore-budaya {
  display: grid;
  grid-template-columns: 1fr;
  margin: 50px;
  gap: 50px;

}

  
  .card-budaya {
    
    margin: 16px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
  }
  
  .budaya img {
    background-color: #fff;
    width: 50%;
  }
  
  .img-budaya img {
    width: 100%;
    height: 350px;
    border-radius: 10px;
  }
  
  .budaya-image {
    padding: 20px;
    max-width: 20%;
    background-color: pink;
  }
  
  a{
    text-decoration: none;
  }

  .budaya-desc {
    text-decoration: none;
    color: black;
  }

  .desc-budaya {
    text-align: justify;
    padding: 30px;
  }
  
  .card-content-budaya {
    margin-top: 20px;
}

.budaya-desc {
    text-decoration: none;
    color: black;
}
  
  .budaya:hover {
    transform: scale(1.05);
}
  


  @media screen and (min-width: 650px) {
    #explore-budaya {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media screen and (min-width: 1200px) {
    #explore-budaya {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media screen and (min-width: 1600px) {
    #explore-budaya {
        grid-template-columns: repeat(3, 1fr);
    }

}
  