.card {
    margin: 16px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.budaya-link{
    text-decoration: none;
}

.img-budaya {
    width: 100%;
    position: relative;
    overflow: hidden;
    max-height: 600px;
}

.budaya-desc{
    color: black;
    padding: 1.4em 2em;
    font-size: small;
    text-align: left;
}

.card-image {
    width: 100%;
    height: 270px;
    object-fit: cover;
    object-position: center;
}

.card-content-title {
    font-weight: bold;
    /* padding-bottom: 0.376em; */
    font-size: 18px;
    transition: 0.3s opacity;
}

.card-content-title:hover {
    opacity: 0.5;

}
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 4px;
    font-size: 14px;
    line-height: 1.5em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}