/*
 * footer
 */


footer {
	position: sticky;
	left: 0;
	bottom: 0;
	/* padding: 1rem 0; */
	width: 100%;
	background-color: var(--secondary--color);
	color: var(--primary--color);
	text-align: center;
}

.top-footer-container {
	width: 80%;
	display: grid;
	grid-template-columns: fit-content(400px) 1fr 1fr;
	gap: 1rem;
	margin: 0 auto;
	padding: 1rem 0;
}

.top-footer-container .footer-logo img {
	width: 400px;
	border-radius: 5px;
}

.top-footer-container .footer-logo {
	border-radius: 5px;
	overflow: hidden;
	float: left;
}

.top-footer-container .footer-middle {
	margin: auto;
}

.top-footer-container .footer-middle-text {
	text-align: left;
}

.top-footer-container .footer-social-media {
	align-items: center;
	text-align: center;
	margin: auto;
}


.top-footer-container .footer-social-media .fa {
	margin: 1rem;
	padding: 1rem;
	border-radius: 50%;
	text-align: center;
	text-decoration: none;
	margin: 0 auto;
}

.top-footer-container .footer-social-media .fa:hover {
	opacity: 0.7;
}

.fa-instagram,
.fa-facebook,
.fa-linkedin,
.fa-github,
.fa-link {
	background: black;
	color: white;
}


footer .footer-bottom-text {
	border-top: 2px solid black;
	padding: 1rem 0;
}



@media screen and (max-width: 900px) {
	.top-footer-container {
		grid-template-columns: fit-content(300px) 1fr;
	}

	.top-footer-container .footer-logo img {
		width: 300px;
	}
}

@media screen and (max-width: 550px) {
	.top-footer-container {
		grid-template-columns: 1fr;
	}

	.top-footer-container .footer-middle-text {
		text-align: center;
	}

	.top-footer-container .footer-logo img {
		width: 250px;
	}
}