@import './navbar.css';
@import './jumbotron.css';
@import './detail.css';

:root {
    --primary--color: #FCF1DB;
    --secondary--color: #008186;
    --third--color: #C56D3D;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary--color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* background: rgb(55, 126, 255);
    background: linear-gradient(349deg, rgba(55, 126, 255, 1) 0%, rgba(255, 95, 95, 1) 46%, rgba(255, 0, 215, 1) 100%); */
}


.container {
    width: 90%;
    margin: 0 auto;
}