h2 {
    margin-top: 20px;
    text-align: center;
}

#explore-umkm {
    display: grid;
    grid-template-columns: 1fr;
    margin: 50px;
    gap: 30px;

}

.umkm {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    text-align: center;
}

.umkm:hover {
    transform: scale(1.05);
}

.umkm img {
    width: 100%;
    height: 250px;
    border-radius: 2px;
}

.card-content-umkm {
    margin-top: 20px;
}

.umkm-desc {
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
}

.desc {
    text-align: justify;
    max-height: 55px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

@media screen and (min-width: 650px) {
    #explore-umkm {
        grid-template-columns: repeat(2, 1fr)
    }

    .desc {
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }
}

@media screen and (min-width: 1200px) {
    #explore-umkm {
        grid-template-columns: repeat(3, 1fr)
    }

    .desc {
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;

    }

}

@media screen and (min-width: 1600px) {
    #explore-umkm {
        grid-template-columns: repeat(4, 1fr);

    }

    .desc {
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;

    }

}