#explore-wisata {
  width: 90%;
  margin: 0 auto;
}


.card-wisata {
  background-color: #e3e2e1;
  align-items: center;
  width: 80%;
  height: auto;
  margin: auto;
  padding: 20px;
  box-shadow: 0 4px 8px 0 #00000033;
  margin: 2rem auto;
  border-radius: 5px;
  overflow: hidden;
}

.card-wisata:hover {
  transform: scale(1.05);
}

a {
  text-decoration: none;
}

.wisata-link {
  margin-left: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 20em;
  border-radius: 10px 10px 10px 10px;
}

.img-wisata {
  display: flex;
  width: 40%;
  height: 100%;
  margin-bottom: 50px;
  /* box-shadow: 4px -1px 14px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px -1px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px -1px 14px 0px rgba(0, 0, 0, 0.75); */
}

.img-wisata img {
  margin: auto;
  width: 80%;
  height: 80%;
}

.wisata-desc {
  text-overflow: ellipsis;
  color: black;
  padding: 1.4em 2em;
  width: 60%;
  font-size: small;
  text-align: left;
}

.card-content-title-wisata {
  margin-left: 20px;

  font-weight: bold;
  /* padding-bottom: 0.376em; */
  font-size: 18px;
  transition: 0.3s opacity;
}

.card-content-title:hover {
  opacity: 0.5;
}

.description-wisata {
  letter-spacing: 0.2px;
  text-align: justify;
  text-indent: 30px;
  max-height: 65%;
  font-size: 15px;
  width: 80%;
  padding: 20px 20px;
}



@media screen and (max-width: 700px) {
  .card-wisata {
    width: 300px;
    height: auto;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
  }

  .img-wisata img {
    margin-top: 20px;
    width: 289px;
    height: 150px;
  }

  .img-wisata {
    margin: 0 auto;
    width: 100%;
  }

  .wisata-link {
    padding: 10px;
    height: auto;
    margin-right: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .wisata-desc {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .description-wisata {
    width: 80%;
    margin: 0;
    padding: 0 20px;
  }

  .explore-wisata {
    background-color: white;
    width: 100%;
    height: auto;
  }

  .card-content-title-wisata {
    margin-top: 30px;
  }
}

.main-content-select {
  text-align: center;
  justify-content: space-between;
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
  width: 100%;
  height: 500px;
  background-color: #d5e0f2;
  border-radius: 15px;
}

.content-select {
  margin: 10px;
  filter: blur(2px);

  width: 100%;
  height: 50%;
  margin-top: 10px;

  border-radius: 10px 10px 10px 10px;
}

.content-select img {
  border-radius: 20px;
  width: 100%;
  height: 30em;
}

.content-select p {
  position: absolute;
}

.main-content .prev,
.next {

  margin-top: auto;
  margin-bottom: auto;
  font-size: 30px;
}